In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("AmesHousing.csv")
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [3]:
df.shape

(2930, 82)

In [4]:
df.columns

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'Sale Condition', 'SalePrice'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     1155 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

# For Handling too much Null values columns

In [7]:
missing_value_percent = (df.isnull().sum() / len(df) * 100).reset_index(name="count")
missing_value_percent

             index      count
0            Order   0.000000
1              PID   0.000000
2      MS SubClass   0.000000
3        MS Zoning   0.000000
4     Lot Frontage  16.723549
..             ...        ...
77         Mo Sold   0.000000
78         Yr Sold   0.000000
79       Sale Type   0.000000
80  Sale Condition   0.000000
81       SalePrice   0.000000

[82 rows x 2 columns]

In [8]:
x = missing_value_percent[missing_value_percent["count"] > 50]
df = df.drop(columns = x["index"])

In [9]:
df.shape

(2930, 77)

# Filter numerical and categorical data type in different variable

In [11]:
numerical_col = df.select_dtypes(include=["int64", "float64"]).columns
categorical_col = df.select_dtypes(include=["object"]).columns

print("Numerical columns : ",numerical_col)

print("Categorical columns : ",categorical_col)

Numerical columns :  Index(['Order', 'PID', 'MS SubClass', 'Lot Frontage', 'Lot Area',
       'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add',
       'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF',
       'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd',
       'Fireplaces', 'Garage Yr Blt', 'Garage Cars', 'Garage Area',
       'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch',
       'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold',
       'SalePrice'],
      dtype='object')
Categorical columns :  Index(['MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Exter Qual', 'Exter Cond',
       'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Fireplace Qu', 'Garage Type', 'Garage Finish', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Sale Type', 'Sale Condition'],
      dtype='object')

# Handling Missing value

In [13]:
from sklearn.impute import SimpleImputer

num_si = SimpleImputer(strategy="mean")
cat_si = SimpleImputer(strategy="most_frequent")

df[numerical_col] = num_si.fit_transform(df[numerical_col])
df[categorical_col] = cat_si.fit_transform(df[categorical_col])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 77 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   float64
 1   PID              2930 non-null   float64
 2   MS SubClass      2930 non-null   float64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2930 non-null   float64
 5   Lot Area         2930 non-null   float64
 6   Street           2930 non-null   object
 7   Lot Shape        2930 non-null   object
 8   Land Contour     2930 non-null   object
 9   Utilities        2930 non-null   object
 10  Lot Config       2930 non-null   object
 11  Land Slope       2930 non-null   object
 12  Neighborhood     2930 non-null   object
 13  Condition 1      2930 non-null   object
 14  Condition 2      2930 non-null   object
 15  Bldg Type        2930 non-null   object
 16  House Style      2930 non-null   object
 17  Overall Qual     2930 non-null   float64
 18  Overall Cond     2930 non-null   float64
 19  Year Built       2930 non-null   float64
 20  Year Remod/Add   2930 non-null   float64
 21  Roof Style       2930 non-null   object
 22  Roof Matl        2930 non-null   object
 23  Exterior 1st     2930 non-null   object
 24  Exterior 2nd     2930 non-null   object
 25  Mas Vnr Area     2930 non-null   float64
 26  Exter Qual       2930 non-null   object
 27  Exter Cond       2930 non-null   object
 28  Foundation       2930 non-null   object
 29  Bsmt Qual        2930 non-null   object
 30  Bsmt Cond        2930 non-null   object
 31  Bsmt Exposure    2930 non-null   object
 32  BsmtFin Type 1   2930 non-null   object
 33  BsmtFin SF 1     2930 non-null   float64
 34  BsmtFin Type 2   2930 non-null   object
 35  BsmtFin SF 2     2930 non-null   float64
 36  Bsmt Unf SF      2930 non-null   float64
 37  Total Bsmt SF    2930 non-null   float64
 38  Heating          2930 non-null   object
 39  Heating QC       2930 non-null   object
 40  Central Air      2930 non-null   object
 41  Electrical       2930 non-null   object
 42  1st Flr SF       2930 non-null   float64
 43  2nd Flr SF       2930 non-null   float64
 44  Low Qual Fin SF  2930 non-null   float64
 45  Gr Liv Area      2930 non-null   float64
 46  Bsmt Full Bath   2930 non-null   float64
 47  Bsmt Half Bath   2930 non-null   float64
 48  Full Bath        2930 non-null   float64
 49  Half Bath        2930 non-null   float64
 50  Bedroom AbvGr    2930 non-null   float64
 51  Kitchen AbvGr    2930 non-null   float64
 52  Kitchen Qual     2930 non-null   object
 53  TotRms AbvGrd    2930 non-null   float64
 54  Functional       2930 non-null   object
 55  Fireplaces       2930 non-null   float64
 56  Fireplace Qu     2930 non-null   object
 57  Garage Type      2930 non-null   object
 58  Garage Yr Blt    2930 non-null   float64
 59  Garage Finish    2930 non-null   object
 60  Garage Cars      2930 non-null   float64
 61  Garage Area      2930 non-null   float64
 62  Garage Qual      2930 non-null   object
 63  Garage Cond      2930 non-null   object
 64  Paved Drive      2930 non-null   object
 65  Wood Deck SF     2930 non-null   float64
 66  Open Porch SF    2930 non-null   float64
 67  Enclosed Porch   2930 non-null   float64
 68  3Ssn Porch       2930 non-null   float64
 69  Screen Porch     2930 non-null   float64
 70  Pool Area        2930 non-null   float64
 71  Misc Val         2930 non-null   float64
 72  Mo Sold          2930 non-null   float64
 73  Yr Sold          2930 non-null   float64
 74  Sale Type        2930 non-null   object
 75  Sale Condition   2930 non-null   object
 76  SalePrice        2930 non-null   float64
dtypes: float64(39), object(38)
memory usage: 1.7+ MB

# Encoding

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for i in categorical_col:
    df[i] = le.fit_transform(df[i])

df.head(3)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1.0,526301100.0,20.0,5,141.0,31770.0,1,0,3,0,...,0.0,0.0,0.0,0.0,0.0,5.0,2010.0,9,4,215000.0
1,2.0,526350040.0,20.0,4,80.0,11622.0,1,3,3,0,...,0.0,0.0,120.0,0.0,0.0,6.0,2010.0,9,4,105000.0
2,3.0,526351010.0,20.0,5,81.0,14267.0,1,0,3,0,...,0.0,0.0,0.0,0.0,12500.0,6.0,2010.0,9,4,172000.0

In [17]:
important_features = [
    'Overall Qual', 'Overall Cond', 'Gr Liv Area', 'Total Bsmt SF', '1st Flr SF',
    'Garage Area', 'Lot Area', 'Year Built', 'Year Remod/Add', 'Neighborhood',
    'Bsmt Qual', 'BsmtFin SF 1', 'Full Bath', 'Bsmt Full Bath', 'Kitchen Qual',
    'Garage Cars', 'Wood Deck SF', 'Fireplaces'
]

# train_test_split

In [19]:
from sklearn.model_selection import train_test_split

x = df[important_features]
y = df["SalePrice"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# StandardScaler

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_train_sc = sc.fit_transform(x_train)

x_train_sc_df = pd.DataFrame(x_train_sc, columns = x_train.columns)

np.round(x_train_sc_df.describe(), 2)

,Overall Qual,Overall Cond,Gr Liv Area,Total Bsmt SF,1st Flr SF,Garage Area,Lot Area,Year Built,Year Remod/Add,Neighborhood,Bsmt Qual,BsmtFin SF 1,Full Bath,Bsmt Full Bath,Kitchen Qual,Garage Cars,Wood Deck SF,Fireplaces
count,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00
mean,-0.00,-0.00,0.00,0.00,0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,0.00,0.00,0.00,0.00,0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-3.65,-4.14,-2.30,-2.40,-2.13,-2.21,-1.10,-3.25,-1.63,-2.02,-2.14,-0.98,-2.82,-0.82,-2.30,-2.34,-0.75,-0.92
25%,-0.77,-0.53,-0.74,-0.60,-0.71,-0.71,-0.33,-0.58,-0.91,-1.03,-0.59,-0.98,-1.01,-0.82,-0.71,-1.00,-0.75,-0.92
50%,-0.05,-0.53,-0.11,-0.14,-0.19,0.03,-0.10,0.05,0.39,0.09,-0.59,-0.15,0.80,-0.82,0.88,0.34,-0.75,0.61
75%,0.67,0.38,0.48,0.55,0.58,0.50,0.17,0.97,0.92,0.79,0.95,0.64,0.80,1.08,0.88,0.34,0.59,0.61
max,2.83,3.09,8.22,11.60,10.23,4.80,25.48,1.30,1.25,1.78,0.95,11.51,4.43,4.89,0.88,3.02,6.22,5.21

# MinMaxScaler

In [23]:
from sklearn.preprocessing import MinMaxScaler
mmc = MinMaxScaler()

x_train_mmc = mmc.fit_transform(x_train)

x_train_mmc_df = pd.DataFrame(x_train_mmc, columns = x_train.columns)

np.round(x_train_mmc_df.describe(), 2)

,Overall Qual,Overall Cond,Gr Liv Area,Total Bsmt SF,1st Flr SF,Garage Area,Lot Area,Year Built,Year Remod/Add,Neighborhood,Bsmt Qual,BsmtFin SF 1,Full Bath,Bsmt Full Bath,Kitchen Qual,Garage Cars,Wood Deck SF,Fireplaces
count,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00,2344.00
mean,0.56,0.57,0.22,0.17,0.17,0.32,0.04,0.71,0.57,0.53,0.69,0.08,0.39,0.14,0.72,0.44,0.11,0.15
std,0.15,0.14,0.10,0.07,0.08,0.14,0.04,0.22,0.35,0.26,0.32,0.08,0.14,0.18,0.31,0.19,0.14,0.16
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.44,0.50,0.15,0.13,0.11,0.21,0.03,0.59,0.25,0.26,0.50,0.00,0.25,0.00,0.50,0.25,0.00,0.00
50%,0.56,0.50,0.21,0.16,0.16,0.32,0.04,0.72,0.70,0.56,0.50,0.07,0.50,0.00,1.00,0.50,0.00,0.25
75%,0.67,0.62,0.26,0.21,0.22,0.39,0.05,0.93,0.88,0.74,1.00,0.13,0.50,0.33,1.00,0.50,0.19,0.25
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

# Apply LinearRegression Model because target column is numerical

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
lr = LinearRegression()

lr.fit(x_train, y_train)

y_pred = lr.predict(x_test)

score = r2_score(y_test, y_pred)
score

0.8438941752276616

In [54]:
import pickle
pickle.dump(lr, open('house_price_model.pkl', 'wb'))